h1{
    text-align: center;
    color: teal;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    background-color: #f2f2f2;
}

.card{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.card:hover{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


.calc-head #result{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: teal;
    text-align: center;
}


.calc-head{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


.btn{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


.btn-style{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


.btn:hover{
    background-color: teal;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}